#active .sec-sum p {
  height: 100px;
  text-align: center;
  vertical-align: middle;
}
#active .sec-sum p img {
  display: inline-block;
  height: 100px;
}
#active .sec-sum p .text {
  display: inline-block;
  height: 100px;
  vertical-align: middle;
}
