#pmPers {
  text-align: center;
}
#pmPers .chart {
  /*display: inline-block;*/
  width: 300px;
  height: 300px;
  margin: auto;
}
#pmPers p {
  padding: 10px 0px;
}
#pmPers .sum-text {
  margin-top: 20px;
}
