/* ----初始化---- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #555;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
td,
th,
caption {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.txt-data {
  color: #ff8400;
  font-size: 1.5em;
}
.chart {
  /*display: inline-block;*/
  width: 300px;
  height: 300px;
  margin: auto;
}
.title {
  width: 100%;
  padding: 35px 0px;
  padding-bottom: 52px;
  line-height: 1.5;
  font-size: 30px;
  /*color: #ff8400;*/
  text-align: center;
}
img {
  mas-width: 600px;
}
/*----------全局样式---------*/
body {
  position: relative;
  background: url('../img/apic9069.JPG') no-repeat fixed;
  background-size: 100% 100%;
  font-family: 'MS Serif', Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.page-turn {
  position: fixed;
  top: 50%;
  left: 2px;
  width: 30px;
  height: 30px;
  margin-top: -20px;
  font-size: 30px;
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #222;
  border: 3px solid #fff;
  border-radius: 23px;
  opacity: .5;
  filter: alpha(opacity=50);
  text-decoration: none;
}
.page-turn.right {
  right: 2px;
  left: auto;
}
